@import './components/font';
@import './components/buttons';
@import './components/forms';
@import './components/decorations';
@import './components/modal';

* {
	margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    touch-action: manipulation;
}

#app {
	margin: auto;
}

.container {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: $panel-background-color;
	padding: 5rem;
	gap: 7.5rem;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

	@media screen and (max-width: 768px) {
		flex-direction: column;
		padding: 2.5rem;
		gap: 2.5rem;
	}
}
