.btn {
	background-color: $primary-color;
	color: #fff;
	border: none;
	padding: 15px 25px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s, transform 0.3s;

	&:hover {
		background-color: lighten($primary-color, 10%);
		transform: scale(1.05);
	}
}

.btn-danger {
	background-color: $danger-color;

	&:hover {
		background-color: lighten($danger-color, 10%);
	}
}

.btn-success {
	background-color: $success-color;

	&:hover {
		background-color: lighten($success-color, 10%);
	}

}

.btn-reboot {
	background-color: $secondary-color;

	&:hover {
		background-color: lighten($secondary-color, 10%);
	}
}

.btn-shutdown {
	background-color: $primary-color;
	margin-bottom: 1rem;

	&:hover {
		background-color: $hover-color;
	}
}

.form-group {
	margin-bottom: 15px;

	label {
		display: block;
		margin-bottom: 5px;
		color: $primary-color;
	}

	input {
		width: 100%;
		padding: 10px;
		box-sizing: border-box;
		border: 1px solid #333;
		border-radius: 5px;
		background-color: #2c2c2c;
		color: #fff;
	}
}

select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #292929;
    color: #fff;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 500px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.modal-close {
    color: #fff;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}