@import './modules/backup';

.panel-module {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    background-color: $panel-background-color;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px $box-shadow;
    margin: 2rem 0;

    h2 {
        color: darken($primary-color, 5%);
        margin-bottom: 1rem;
    }

    h3, h4, h5 {
        color: darken($text-color, 5%);
        margin-bottom: 0.25rem;
    }

    p, b, ul {
        margin: 0.5rem 0;
        color: $secondary-text-color;
    }
}

.panel-module-grid {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.panel-module-list {
    ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        color: $secondary-text-color;

        button {
            background-color: $primary-color;
            color: $text-color;
            border: none;
            padding: 5px 10px;
            margin-left: 5px;
            cursor: pointer;
            border-radius: 3px;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                background-color: $hover-color;
                transform: scale(1.05);
            }
        }
    }
}
