.container {
	text-align: center;
	background-color: #1e1e1e;
	padding: 7.5rem;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
	margin-bottom: 2.5rem;
	color: $primary-color;
}