/*
Variables SCSS file for the theme of Coconut
*/

$primary-color: #b388ff;
$secondary-color: #6200ea;
$background-color: #121212;
$panel-background-color: #1e1e1e;
$text-color: #fff;
$hover-color: #7c4dff;
$hover-color-secondary: #3700b3;
$border-radius: 20px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
$success-color: #09e47a;
$danger-color: #ff1744;
