.separator {
    height: 15rem;
	width: 4px;
    background-color: #444;

	@media screen and (max-width: 768px) {
		height: 4px;
		width: 100%;
	}
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;

    &.online {
        background-color: $success-color;
    }

    &.offline {
        background-color: $danger-color;
    }
}
