.module-selection {
    .module-option {
        display: flex;

        label {
            font-size: 20px;
        }

        input[type="number"] {
            width: 50%;
            padding: 10px;
        }
    }

    .btn {
        margin-top: 1rem;
    }
}