<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" type="image/svg+xml" href="{{ url_for('static', filename='images/coconut.svg') }}">
	<meta name="description" content="Coconut lightweight Home Server Management" />
	<title>Control Panel < Coconut</title>
</head>

<body>
	<div class="container">
		<h1>Coconut</h1>
		<h3>Lightweight Home Server Management</h3>

		<form action="/shutdown" method="post">
			<button type="submit" class="btn btn-shutdown" title="Poweroff computer">Shutdown</button>
		</form>
		<form action="/reboot" method="post">
			<button type="submit" class="btn btn-reboot" title="Reboot computer">Reboot</button>
		</form>
	</div>
</body>

</html>