<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	<link rel="shortcut icon" type="image/svg+xml" href="{{ url_for('static', filename='images/coconut.svg') }}">
	<meta name="description" content="Coconut lightweight Home Server Management" />
	<title>Coconut</title>
</head>

<body>
	<header>
		<img src="{{ url_for('static', filename='images/coconut.svg') }}" alt="Coconut Logo" class="logo">
		<h1>Coconut</h1>
	</header>
	<div class="panel-module">
		<div class="left-panel">
			<h2>System Information</h2>
			<p id="cpu-usage">CPU Usage: Loading...</p>
			<p id="ram-usage">RAM Usage: Loading...</p>
			<p id="disk-usage">Disk Usage: Loading...</p>
		</div>
		<div class="right-panel">
			<form action="/shutdown" method="post">
				<button type="submit" class="btn btn-shutdown" title="Poweroff computer">Shutdown</button>
			</form>
			<form action="/reboot" method="post">
				<button type="submit" class="btn btn-reboot" title="Reboot computer">Reboot</button>
			</form>
		</div>
	</div>

	<div class="panel-module">
		<h2>Docker Containers</h2>
		<ul id="docker-containers">Loading...</ul>
	</div>
	<script>
		function updateSystemInfo() {
			fetch('/api/system_info')
				.then(response => response.json())
				.then(data => {
					document.getElementById('cpu-usage').textContent = `CPU Usage: ${data.cpu_usage}%`
					document.getElementById('ram-usage').textContent = `RAM Usage: ${data.ram_usage}%`
					document.getElementById('disk-usage').textContent = `Disk Usage: ${data.disk_used}`
				})
				.catch(error => console.error('Error fetching system info:', error))
		}

		function updateDockerContainers() {
			fetch('/api/docker_containers')
				.then(response => response.json())
				.then(data => {
					const containerList = document.getElementById('docker-containers')
					containerList.innerHTML = ''
					data.forEach(container => {
						const listItem = document.createElement('li')
						listItem.innerHTML = `
              ${container.name} - ${container.image} - ${container.status}
              <button onclick="confirmAction('start', '${container.id}')">Start</button>
              <button onclick="confirmAction('stop', '${container.id}')">Stop</button>
              <button onclick="confirmAction('remove', '${container.id}')">Remove</button>
            `
						containerList.appendChild(listItem)
					})
				})
				.catch(error => console.error('Error fetching Docker containers:', error))
		}

		function confirmAction(action, id) {
			const actionMessages = {
				'start': 'start this container',
				'stop': 'stop this container',
				'remove': 'remove this container'
			}
			if (confirm(`Are you sure you want to ${actionMessages[action]}?`)) {
				performAction(action, id)
			}
		}

		function performAction(action, id) {
			const urls = {
				'start': '/api/docker_start',
				'stop': '/api/docker_stop',
				'remove': '/api/docker_remove'
			}
			fetch(urls[action], {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ id: id })
			})
				.then(response => response.json())
				.then(data => {
					console.log(`Container ${action}ed successfully`)
					updateDockerContainers()
				})
				.catch(error => console.error(`Error ${action}ing container:`, error))
		}

		setInterval(updateSystemInfo, 5000)
		setInterval(updateDockerContainers, 60000)

		updateSystemInfo()
		updateDockerContainers()
	</script>
</body>

</html>