<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Coconut: A lightweight Home Server management." />
	<meta name="theme-color" content="#9A6AFF" />
	<meta name="robots" content="noindex, nofollow" />
	<script type="module" crossorigin src="{{ url_for('static', filename='assets/main.js') }}"></script>
	<link rel="stylesheet" crossorigin href="{{ url_for('static', filename='assets/main.css') }}">
	<link rel="shortcut icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/images/coconut.svg') }}">
	<title>Coconut</title>
</head>

<body>
	<div id="app"></div>
</body>

</html>